header {
  position: relative;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0 1rem;
  border-top: 0.14rem solid var(--color-primary);
  border-bottom: 0.14rem solid var(--color-primary);

  .actions {
    display: flex;
    align-items: center;
  }

  .actions-side {
    display: flex;
    align-items: center;
  }

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

:host ::ng-deep .action-icon {
  margin-top: 0.3rem;
  margin-right: 0.8rem;
  color: var(--color-primary);
  cursor: pointer;
  transform: scale(1.5);
}
