<form class="form-field" [formGroup]="form">
  <span class="field-label">{{ label }}</span>

  <ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="typeInput" appearance="outline">
      <input
        type="text"
        matInput
        [placeholder]="field.placeholder"
        [formControlName]="field.formControlName" />
    </mat-form-field>

    <mat-form-field *ngSwitchCase="typeSelect">
      <mat-select [formControlName]="field.formControlName">
        <mat-option *ngFor="let option of field.options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-error>{{ error }}</mat-error>
</form>
